
.sidePanel {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    height: 100vh;
}

.sidePanel h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.navList {
    list-style: none;
    padding: 0;
}

.navItem {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navItem:hover {
    background-color: #555;
}
